<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Books</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="navbar">
        <li>
            <a href="search.html">Buscar Libro</a>
            <a href="http://127.0.0.1:4000/">Añadir Libro</a>
            <a href="delete.html">Eliminar Libro</a>
        </li>
    </div>
    <div>
    <h1>Añade tu libro Favorito</h1>

   <!--  Vamos a añadir un formulario con el metodo POST
    en el action agregamos la ruta /api/addbook -->
    <form action="/api/addbook" method="post">
        <label for="title">Nombre del Libro</label>
        <input type="text" id="title" name="title" placeholder="Ingresa tu libro Favorito">
<br>
        <label for="year">Año de publicación</label>
        <input type="text" id="year" name="year" placeholder="Ingresa el año de publicación">
<br>
        <label for="score">Ranking</label>
        <input type="text" id="score" name="score" placeholder="Ingresa su puntuación">
<br>
        <input type="submit" value="Enviar">
    </form>
</div>
<h3>¿Quieres buscar un libro?</h3>
<h5><a href="search.html">Click Aquí</a></h5>
</body>
</html>