<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <li>
            <a href="search.html">Buscar Libro</a>
            <a href="http://127.0.0.1:4000/">Añadir Libro</a>
            <a href="edit.html">Modifica tu Libro</a>
            <a href="delete.html">Eliminar Libro</a>
        </li>
    </div>
<div>
    
    <h1>Busca Tu libro Favorito</h1>

     <form action="/api/search" method="post">
         <label for="title">Buscador de libros</label><br>
         <input type="text" id="title" name="title" placeholder="Ingresa el título de tu libro">
         <br>
         <br>
         <input type="submit" value="Enviar">
     </form>

     <h3>¿Quieres eliminar un libro?</h3>
<h5><a href="delete.html">Click Aquí</a></h5>
    </div>
    <br>
</body>
</html>